[submodule "deps/clipnotify"]
	path = deps/clipnotify
	url = https://github.com/cdown/clipnotify
[submodule "deps/clipmenu"]
	path = deps/clipmenu
	url = https://github.com/cdown/clipmenu
[submodule "deps/passmenu"]
	path = deps/passmenu
	url = https://github.com/adder46/passmenu
[submodule "deps/nord-dircolors"]
	path = deps/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors
[submodule "deps/nord-xfce-terminal"]
	path = deps/nord-xfce-terminal
	url = https://github.com/arcticicestudio/nord-xfce-terminal
