[submodule "nord-dircolors"]
	path = nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors
[submodule "clipnotify"]
	path = clipnotify
	url = https://github.com/cdown/clipnotify
[submodule "clipmenu"]
	path = clipmenu
	url = https://github.com/cdown/clipmenu
[submodule "passmenu"]
	path = passmenu
	url = https://github.com/adder46/passmenu
